/* ===== BASE ===== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ===== HEADER ===== */
header {
  height: 150px;
  background: #111;
  color: white;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 0 30px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 40px;
  margin-left: 40px;
  filter: invert(1);
}


.header-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  transition: transform 0.15s ease;
}

nav a:hover {
    transform: scale(1.2);
    font-size: bold;
}

/* ===== BUTTONS (ортақ стиль, өзгермейді) ===== */
.buttons {
  display: flex;
  gap: 35px;
}

.btn {
  padding: 10px 18px;
  background: orange;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: transform 0.15s ease, background-color 0.15s ease;
}

.btn:hover {
    transform: scale(1.1);
    background-color: red;
}


.btn.whatsapp {
  background: #25D366;
  color: white;
}

.btn.whatsapp:hover {
    transform: scale(1.1);
    background-color: red;
}


/* ===== ABOUT ===== */
.about {
  padding: 50px 20px;
  background: #f5f5f5;
  text-align: center;
}

.about p {
  font-size: 18px;
  line-height: 2;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
}

/* ===== MAIN ===== */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  border: 1px solid #ddd;
  text-align: center;
  
}


.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Main астындағы buttons ортасына */
.cards > .buttons {
  grid-column: 1 / -1;
  justify-content: center;
  margin-top: 40px;
}

/* ===== SERVICES ===== */
.services {
  display: flex;
  gap: 30px;
  padding: 40px;
  background: #eee;
  align-items: center;
}

.services img {
  width: 600px;
  height: 590px;
  margin-left: 40px;
  object-fit: cover;
}

.services ul {
  text-align: left;
  padding-left: 100px;
}

.services ul li {
  font-size: 18px;      /* мәтіннің өлшемін үлкейту */
  line-height: 1.7;     /* әр жолдың биіктігі, арасы ашылады */
  margin-bottom: 10px;  /* әр элементтің астына қосымша қашықтық */
}

.map {
  margin-top: 40px;
}

.map iframe {
  width: 100%;
  height: 400px;
  border-radius: 12px;
}



/* ===== FOOTER ===== */
footer {
  height: 120px;
  background: #111;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0 0 10px;
}

/* ===== CHAT ===== */
.chat {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  background: #25D366;
  color: white;
  font-size: 26px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.chat-menu {
  position: absolute;
  bottom: 75px;
  right: 0;

  display: none;
  flex-direction: column;
  gap: 10px;
}

.chat-menu a {
  width: 60px;
  height: 60px;
  border-radius: 50%;

  background: #25D366;
  color: white;
  font-size: 26px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.chat-menu img {
  width: 26px;
  height: 26px;
}

.chat-menu.show {
  display: flex;
}
